@font-face {
  font-family: 'Pointless';
  src: url('./Pointless.ttf');
}

* {
  font-family: 'Pointless';
}

#deviceTest {
  background-color: green;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;

  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: white;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#container {
  border: 10px solid #333;
  display: inline-flex;
  align-items: stretch;
  justify-content: center;
}

#next-box {
  border-left: 10px solid #333;
}
#hold-box {
  border-right: 10px solid #333;
}

#hold-board,
#next-board {
  border-top: 10px solid #333;
  border-bottom: 10px solid #333;
}

.hold-text,
.next-text {
  font-size: x-large;
  padding-left: 5px;
}

#button-box {
  margin: 0;
  height:360px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width:100%;
}

.control-btn {
  height: 180px;
  width: 180px;
  background-color: red;
}

.row {
  font-size: 0;
}

.cell {
  display: inline-block;
  height: 36px;
  width: 36px;
  background-color: white;
  border: 2px solid #7777;
}
